@charset "UTF-8";

/*dark-green:#00703c;*/
/*lightgreeb:#49a942;*/
/*lightgrey:#f2f4f5*/


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Montserrat-Light';
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"); }

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"); }



body {
	font-family: 'Montserrat-Regular', sans-serif;
}

p, label {
	font-size: 11pt;
}

.bold {
	font-weight: bold;
}

.serif {
	font-family: 'EB Garamond', serif;
}

.italic {
	font-style: italic;
}
body #container {
	background: #f2f4f5;
}

.content {
	background: #fff;
}

form {
	background: #fff;
}

form select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: #fff url('../images/arrow.svg') no-repeat 97% center / 10px;
   color: #707070;
   border: 1px solid #e6e6e6; 

}

select::-ms-expand {
    display: none;
}

#donationAmount #gift input {
	margin: 0;
	padding: 0;
}

form input, form select {
	width: 100%;
	font-size: 0.9em;
	padding: 0.4375em 0.375em;
	margin: 0.375em auto;
}

.lp1 form select {
	height: 100%;
}

form .submit {
	background: #49a942;
	font-size: 1rem;
	color: #fff;
	font-weight: bold;
	max-width: 100%;
	border:none;
	max-width: 141px;
	width: 100%;
}

form .submit:hover {
	background: #00703c;
	color: #fff;
}

/*///////TOP/////////*/

.logo img {
	max-width: 250px;
	width: 100%;
}

header {
	background: #f3f3f3;
}

/*////////TYPOGRAPHY////////*/

h1 {
	font-family: 'Montserrat-Light';
}


h2 {
	color: #fff;
}

h3 {
	font-family: 'Montserrat-Light';
}

h4 {
	color: #00703c;
	margin: 1em auto;
	font-family: 'Montserrat-Bold';
}

h5 {
	color: #49a942;
	font-weight: bold;
	font-family: 'Montserrat-Bold';
}
h6 {
	font-family: 'Montserrat-Light';
}

/*////////FORM////////*/

.donation-choice {
	width: 100%;
	text-align: center;
}

.donation-other {
	border-radius: 100px;
	border: 1px solid #707070;
	width: 100%;
	height: 85%;
	padding-left: 3em;
	padding-right: 2em;
	display: flex;
	background: #fff;
}

.accept-fees-container {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin: 3% auto;
}
.total-donation-container {
	font-family: 'Montserrat-Bold', sans-serif;
}

.total-donation-container span {
	color: #49a942;
}

.donation-other input {
	border: 0;
}
.hidden {
	display: none;
	visibility: none;
}

.donation-choice {
	border: solid 1px #cdcdcd;
	cursor: pointer;
}

.donation-choice  h5{
	margin: 10% 0;
}

.donation-choice h5:not(.other)::after {

	content: "/month";
	font-size: 0.8rem;
	padding: 0px 2px;
}
.donation-selected {
	background: #00703c;
}

.donation-selected h5  {
	color: #fff;
}

.donation-choice:hover {
	-webkit-box-shadow: 1px 1px 10px 1px #49a94254;
	-moz-box-shadow:    1px 1px 10px 1px #49a94254; 
	box-shadow:         1px 1px 10px 1px #49a94254;
	border-width: 2px;
}

.disabled {
	opacity: 0.3;
}

.price-mark {
	font-size: 1.5em;
	font-weight: bold;
	color:#707070;
	top: 8%;
	left: 8%;
}

#cvvDialog_link {
	color: #00703c;
}

/*///////////ASIDE//////////*/

body aside {
	padding: 2em;
}

.sidebar{
	background: #f2f4f5;
}

.small-title {
	line-height: 0;
	vertical-align: top;
	position: relative;
}

.small-title b {
	position: absolute;
	top: 10px;
}
.small-title::before {
	width: 20px
	height:20px;
	display: inline-block;
}

.small-title-1::before {
	content: url('../images/icon-1.png');
}

.small-title-2::before {
	content: url('../images/icon-2.png');
}

.small-title-3::before {
	content: url('../images/icon-3.png');
}

.small-title-4::before {
	content: url('../images/icon-4.png');
}

.small-title-5::before {
	content: url('../images/icon-5.png');
}

.trust-marks img:first-of-type {
	max-width: 50px;
}

.trust-marks img:last-of-type {
	max-width: 80px;
}

/*--- Terms ---*/
.tc {
	width:100%;
	overflow: auto;
	background-color: #FFF;
	border: 1px solid #070707;
	border-radius: 8px;
	padding: 5px 10px 0px 4px;
	margin: 6px 0 0 0;
	font-size: 120%;
	line-height: 25px;
	text-align: left;
}
.tcLabel {
  font-weight: bold;
}
.tc p {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #383838;
}
.tc a {
	text-decoration:underline;
	color: #33a1ca;
}

.tc.expanded { height:auto !important; }

.tc-toggle:hover { background-color:#afafaf; }

.agree {
	max-width:500px;
}

.agree input {
	transform: scale(1.4);
	margin: auto;
	display: block;
}



/*/////////FOOTER/////////*/

footer a {
	color: #49a942;
	font-family: "Montserrat-Bold" , sans-serif;
	text-decoration: underline;
}

/*/////////MODALS/////////*/

.modal h5 {
	color: #000;
}

.modal h2 {
	color: #000;
}

.modal li {
	clear: both;
}

.modal li p {
	display: block;
}

/*/////////RESPONSIVE/////////*/

@media screen and (min-width: 1200px){
	.content {
		width: 1200px;
	}
	.sidebar {
		min-width: 368px;
	}
}

@media screen and (min-width:992px){

	header .header-text h1 {
		font-size: 2rem;
	}

	header .header-text p {
		max-width: 650px;
	}

	.content{
		padding: 0% 3.333333%;
	}

	.show-mobile{
		display: none;
	}

	body form h4 {
		font-size: 1rem;
	}

	body form h5 {
		font-size: 0.9rem;
	}

	body aside h6 {
		font-size: 1.3rem;
	}

}


@media screen and (max-width: 767px){

	body .logo img  {
		max-width: 175px;
	}

	body header .mb-4{
		margin-bottom: 0 !important;
	}

	body header h1 {
		padding: 4% 0;
	}

	header .header-text h1 {
		font-size: 1.5rem;
	}

	header .header-text h2 {
		font-size: 1.15rem;
	}

	form h5 {
		font-size: 0.9rem;
	}

	aside h6 {
		font-size: 1.2rem;
		padding-bottom: 15px
	}

	h4 {
		font-size: 1rem;
		font-weight: bold;
	}
	.hide-mobile {
		display: none;
	}

	.show-mobile {
		display: block;
	}
}

@media screen and (max-width: 977px) and (min-width: 770px){
	.donation-other {
		padding-left: 6em;
	}
}
