<div class="template-body-container">
		




    
    
    <div class="rich-text-editor base-component">

<section class="article-container standard-width-article bs_container">
  <div class="article-row bs_row">
    <div class="asset-block bs_col-md-8 bs_col-12 bs_offset-md-2" id="body_rich_text_editor">
      <div class="rte__text c-rte txt-clr-g1"><p>The Nature Conservancy publishes detailed financial summary information as a part of its <b><a href="/en-us/about-us/who-we-are/accountability/annual-report/" target="_self">annual reports, financial reports, and IRS 990 forms</a></b>.</p>
<p>Online contributions of $53.50 or more are 100% tax-deductible. Online contributions under $52.50 are tax-deductible, less the fair market value of any thank you gifts you may receive. The fair market value of the Nature Conservancy magazine is $4. Financial information about The Nature Conservancy may be obtained by contacting us at 4245 North Fairfax Drive, Suite 100, Arlington, VA 22203; (800) 628-6860, or as stated below:</p>
</div>
    </div>
  </div>
</section></div>


    
    
    <div class="accordion base-component">


  <section class="c-accordians bs_container standard-width-separated border-primary" aria-label="accordian-component" id="body_accordion">
    <div class="bs_row">
      <div class="bs_col-12 bs_col-md-8 bs_offset-md-2 c-accordians__container">
        
        
          
          <ul class="c-accordian border-primary">
            
              <li class="c-accordian__item border-primary">
                <a href="#link00" title="expand" class="toggle fz-v13-after family-sans fz-v12 lh-v14 toggle-accordian txt-clr-g1 txt-clr-p4-after" data-toggle-content="body_accordion-0-0" data-expand-text="expand" data-collapse-text="collapse">
                  Florida
                </a>
                <div class="toggle-content-acc" id="body_accordion-0-0">
                  <div class="c-rte txt-clr-g1"><p>A copy of the official registration and financial information for The Nature Conservancy, a DC-based nonprofit corporation (registration no. Ch 694), may be obtained from the Division of Consumer Services by calling toll-free 1-800-HELP-FLA (435-7352) within the state or visiting their website <a href="http://www.freshfromflorida.com" target="_blank">www.freshfromflorida.com</a>. Registration does not imply endorsement, approval, or recommendation by the state.</p>
</div>
                </div>
              </li>
            
              <li class="c-accordian__item border-primary">
                <a href="#link01" title="expand" class="toggle fz-v13-after family-sans fz-v12 lh-v14 toggle-accordian txt-clr-g1 txt-clr-p4-after" data-toggle-content="body_accordion-0-1" data-expand-text="expand" data-collapse-text="collapse">
                  Maryland
                </a>
                <div class="toggle-content-acc" id="body_accordion-0-1">
                  <div class="c-rte txt-clr-g1"><table cellspacing="0" cellpadding="0" border="0">
<tbody><tr><td width="450" valign="top">
Documents and information submitted under the Maryland Solicitations Act are also available, for the cost of postage and copies from the Secretary of State, State House, Annapolis, MD 21401.</td>
</tr></tbody></table>
</div>
                </div>
              </li>
            
              <li class="c-accordian__item border-primary">
                <a href="#link02" title="expand" class="toggle fz-v13-after family-sans fz-v12 lh-v14 toggle-accordian txt-clr-g1 txt-clr-p4-after" data-toggle-content="body_accordion-0-2" data-expand-text="expand" data-collapse-text="collapse">
                  Michigan
                </a>
                <div class="toggle-content-acc" id="body_accordion-0-2">
                  <div class="c-rte txt-clr-g1"><p>MICS-6446</p>
</div>
                </div>
              </li>
            
              <li class="c-accordian__item border-primary">
                <a href="#link03" title="expand" class="toggle fz-v13-after family-sans fz-v12 lh-v14 toggle-accordian txt-clr-g1 txt-clr-p4-after" data-toggle-content="body_accordion-0-3" data-expand-text="expand" data-collapse-text="collapse">
                  Mississippi
                </a>
                <div class="toggle-content-acc" id="body_accordion-0-3">
                  <div class="c-rte txt-clr-g1"><p>The official registration and financial information of The Nature Conservancy may be obtained from the Mississippi Secretary of State's office by calling 1-888-236-6167. Registration by the Secretary of State does not imply endorsement.</p>
</div>
                </div>
              </li>
            
              <li class="c-accordian__item border-primary">
                <a href="#link04" title="expand" class="toggle fz-v13-after family-sans fz-v12 lh-v14 toggle-accordian txt-clr-g1 txt-clr-p4-after" data-toggle-content="body_accordion-0-4" data-expand-text="expand" data-collapse-text="collapse">
                  New Jersey
                </a>
                <div class="toggle-content-acc" id="body_accordion-0-4">
                  <div class="c-rte txt-clr-g1"><p>Information filed with the Attorney General concerning this charitable solicitation and the percentage of contributions received by the charity during the last reporting period that were dedicated to the charitable purpose may be obtained from the Attorney General of the State of New Jersey by calling 973-504-6215 and is available on the internet at&nbsp;<a href="https://www.njconsumeraffairs.gov/charities/Pages/default.aspx" target="_blank">https://www.njconsumeraffairs.gov/charities/Pages/default.aspx</a>. Registration with the attorney general does not imply endorsement.</p>
</div>
                </div>
              </li>
            
              <li class="c-accordian__item border-primary">
                <a href="#link05" title="expand" class="toggle fz-v13-after family-sans fz-v12 lh-v14 toggle-accordian txt-clr-g1 txt-clr-p4-after" data-toggle-content="body_accordion-0-5" data-expand-text="expand" data-collapse-text="collapse">
                  New York
                </a>
                <div class="toggle-content-acc" id="body_accordion-0-5">
                  <div class="c-rte txt-clr-g1"><p>Upon request, a copy of the latest annual report can be obtained from the organization or from the Office of the Attorney General by writing to the Charities Bureau at 120 Broadway, New York, NY 10271.</p>
</div>
                </div>
              </li>
            
              <li class="c-accordian__item border-primary">
                <a href="#link06" title="expand" class="toggle fz-v13-after family-sans fz-v12 lh-v14 toggle-accordian txt-clr-g1 txt-clr-p4-after" data-toggle-content="body_accordion-0-6" data-expand-text="expand" data-collapse-text="collapse">
                  North Carolina
                </a>
                <div class="toggle-content-acc" id="body_accordion-0-6">
                  <div class="c-rte txt-clr-g1"><p>Financial information about this organization and a copy of its license are available from the State Solicitation Licensing Branch at 1-888-830-4989. The license is not an endorsement by the state.</p>
</div>
                </div>
              </li>
            
              <li class="c-accordian__item border-primary">
                <a href="#link07" title="expand" class="toggle fz-v13-after family-sans fz-v12 lh-v14 toggle-accordian txt-clr-g1 txt-clr-p4-after" data-toggle-content="body_accordion-0-7" data-expand-text="expand" data-collapse-text="collapse">
                  Pennsylvania
                </a>
                <div class="toggle-content-acc" id="body_accordion-0-7">
                  <div class="c-rte txt-clr-g1"><p>The official registration and financial information of The Nature Conservancy may be obtained from the Pennsylvania Department of State by calling toll-free, within Pennsylvania, 1-800-732-0999. Registration does not imply endorsement.</p>
</div>
                </div>
              </li>
            
              <li class="c-accordian__item border-primary">
                <a href="#link08" title="expand" class="toggle fz-v13-after family-sans fz-v12 lh-v14 toggle-accordian txt-clr-g1 txt-clr-p4-after" data-toggle-content="body_accordion-0-8" data-expand-text="expand" data-collapse-text="collapse">
                  Virginia
                </a>
                <div class="toggle-content-acc" id="body_accordion-0-8">
                  <div class="c-rte txt-clr-g1"><p>Financial statements are available from State Division of Consumer Affairs, Department of Agricultural and Consumer Services, PO Box 1163, Richmond, VA 23218.</p>
</div>
                </div>
              </li>
            
              <li class="c-accordian__item border-primary">
                <a href="#link09" title="expand" class="toggle fz-v13-after family-sans fz-v12 lh-v14 toggle-accordian txt-clr-g1 txt-clr-p4-after" data-toggle-content="body_accordion-0-9" data-expand-text="expand" data-collapse-text="collapse">
                  Washington
                </a>
                <div class="toggle-content-acc" id="body_accordion-0-9">
                  <div class="c-rte txt-clr-g1"><p>The notice of solicitation as required by the Charitable Solicitation Act is on file at Charities Division, Office of the Secretary of State, State of Washington, Olympia, WA 98504-0422, 1-800-332-4483. A potential donor can obtain additional financial disclosure information at a published number in the office of the secretary.</p>
</div>
                </div>
              </li>
            
              <li class="c-accordian__item border-primary">
                <a href="#link010" title="expand" class="toggle fz-v13-after family-sans fz-v12 lh-v14 toggle-accordian txt-clr-g1 txt-clr-p4-after" data-toggle-content="body_accordion-0-10" data-expand-text="expand" data-collapse-text="collapse">
                  West Virginia
                </a>
                <div class="toggle-content-acc" id="body_accordion-0-10">
                  <div class="c-rte txt-clr-g1"><p>Residents may obtain a summary of the registration and financial documents from: Secretary of State, State Capitol, Charleston, WV 25305.&nbsp;Contributions are deductible for federal income tax purposes in accordance with applicable law.&nbsp; Registration in a state does not imply endorsement, approval, or recommendation of The Nature Conservancy by the state.</p>
</div>
                </div>
              </li>
            
          </ul>
        
      </div>
    </div>
  </section>
</div>


    
    
    <div class="rich-text-editor base-component">

<section class="article-container standard-width-article bs_container">
  <div class="article-row bs_row">
    <div class="asset-block bs_col-md-8 bs_col-12 bs_offset-md-2" id="body_rich_text_editor_1010359620">
      <div class="rte__text c-rte txt-clr-g1"><p><i>We respect your privacy and preferences. If you have questions about your membership or would like to modify your mailing preferences, please call our Member Care team at (800) 628-6860, write to us at 4245 N. Fairfax Dr. Suite 100, Arlington, VA 22203 or visit&nbsp;<a href="/en-us/about-us/faqs/" target="_self">Member Care</a>.</i></p>
</div>
    </div>
  </div>
</section></div>



    </div>