<div class="rte__text c-rte txt-clr-g1"><p><b>LEGAL DISCLOSURE AND TERMS OF USE</b></p>
<p>January 12, 2016</p>
<p>&nbsp;</p>
<p><b>PLEASE READ THIS AGREEMENT CAREFULLY; THIS IS A BINDING CONTRACT. </b>This website (this "Website") is a service offered by The Nature Conservancy. This Terms of Use Agreement (the "Terms of Use" or "Agreement") describes the terms and conditions applicable to your access and use of this Website and The Nature Conservancy's services. The Nature Conservancy may revise this Agreement at any time by posting the amended Terms of Use on this Website, and you agree that you will be bound by any changes to the Terms of Use. For your convenience, the date of last revision is included at the top of this page. The Nature Conservancy may make changes in the services described on this Website at any time. You understand that The Nature Conservancy may discontinue or restrict your use of this Website for any reason.</p>
<p>&nbsp;</p>
<p><b>STATE COMPLIANCE. </b>Click here for state charitable solicitation disclosures.</p>
<p>&nbsp;</p>
<p><b>ABOUT THE INFORMATION ON THIS SITE. </b>The Content (as defined below) available on this Website is intended to be a general information resource and is provided solely on an "AS IS" and "AS AVAILABLE" basis. You are encouraged to confirm the information contained herein. You should not construe The Nature Conservancy's publication of the Content on this Website as a warranty or guarantee of the quality or availability of any goods or services.</p>
<p>&nbsp;</p>
<p><b>ELIGIBILITY.</b> By using this Website, you represent and warrant that (a) all registration and other information you submit, if any, is truthful and accurate; (b) you will maintain the accuracy of any information you provide; (c) you will not submit any personal information if you are under 13 years of age; and (d) your use of this Website does not violate any applicable law or regulation.</p>
<p>&nbsp;</p>
<p><b>USE OF MATERIALS ON THIS SITE. </b>The content on this Website includes, but is not limited to, text, graphics, images, photographs, illustrations, maps, trademarks, tradenames, service marks, logos, information obtained from The Nature Conservancy’s licensors, and other materials (“Content”). Title to the Content on this Website remains with The Nature Conservancy. The Nature Conservancy invites you to view and use a single copy of the materials obtained from this Website for your personal, non-commercial use. Except as expressly permitted on this Website, you agree not to license, distribute, create derivative works from, transfer, sell or re-sell any information, Content, or services obtained from this Website. No graphics, photographs or other visual elements obtained through this Website may be used, copied, or distributed separate from the accompanying text without the prior express written consent of the original owner or The Nature Conservancy. You are not permitted to use the materials on this Website except as expressly set forth herein. You may not under any circumstances attempt to deface, shut down or otherwise damage this Website. You may not, without The Nature Conservancy’s written permission, “mirror” any Content contained in this Website or any other server.</p>
<p>&nbsp;</p>
<p><b>POSTINGS.</b> The UGC functionality (e.g. The Nature Conservancy Blog) provides the opportunity to share knowledge and post other helpful or meaningful information. By submitting content or information of any type (a "Posting") to the functionality, or by otherwise using the functionality to transmit or display a Posting, you automatically grant The Nature Conservancy a royalty-free, perpetual, irrevocable, non-exclusive right and license to use, reproduce, modify, publish, translate, create derivative works from, distribute, transmit, perform, and display such content or information (in whole or in part) worldwide and/or to incorporate into other works in any form, media, or technology now known or later developed for the full term of any rights that may exist in such content or information. You also acknowledge that such submissions are non-confidential for all purposes. Moreover, you agree that by using the UGC functionality you will not post or transmit any of the following materials:</p>
<ul>
<li>Anything that interferes with or disrupts the UGC or the operation thereof,</li>
<li>Statements about candidates for political office,</li>
<li>Statements or material that defames, harasses, abuses, stalks, threatens, or in any way infringes on the rights of others,</li>
<li>Unauthorized copyrighted materials or any other material that infringes on the intellectual property rights, trade secrets, or privacy of another,</li>
<li>Statements or material that violates other contractual or fiduciary rights, duties, or agreements,</li>
<li>Statements or material that encourages criminal conduct or that would give rise to civil liability or otherwise violates any law or regulation in any jurisdiction,</li>
<li>Statements or material that contains vulgar, obscene, profane, or otherwise objectionable language or images that typically would not be considered socially or professionally responsible or appropriate in person,</li>
<li>Statements or material that impersonates any other person or entity, whether actual or fictitious, including employees and representatives of The Nature Conservancy,</li>
<li>Anything that violates the privacy or publicity rights of any other person,</li>
<li>Statements or material that are off-topic, irrelevant, or inappropriate,</li>
<li>Statements or material that constitute junk mail, spam, or unauthorized advertising or promotional materials, and</li>
<li>Files that contain malicious code, viruses, corrupted files, or any other similar software or programs that may damage the operation of another's computer, network, or this Website.</li>
</ul>
<p>As the UGC functionality is generally public, the user experience is enhanced when you follow these guidelines. Please also use <b><a href="https://en.wikipedia.org/wiki/Etiquette_in_technology" target="_blank">netiquette</a></b>. Please be succinct and stay on topic. Please remember to respect others and their opinions. The Nature Conservancy encourages open and sincere communication, but urges all users to remember that the UGC functionality is intended to be a resource for all.</p>
<p>&nbsp;</p>
<p><b>ENFORCING SECURITY. </b>The UGC functionality is owned by The Nature Conservancy. Please be aware that you have no reasonable expectation of privacy while using the UGC functionality. The Nature Conservancy cannot guarantee the confidentiality of any communication or material transmitted to/from the UGC functionality over the Internet or other global communication network and The Nature Conservancy is not responsible for the security of any information transmitted via the Internet, the accuracy of the information contained, or for the consequences of any reliance on such information. You must make your own determination as to these issues.</p>
<p>&nbsp;</p>
<p>The Nature Conservancy may obtain access to, block, disclose, and review electronic transmissions and communications made through the UGC functionality at any time. Actual or attempted unauthorized use of the UGC functionality may result in criminal and/or civil prosecution, including, without limitation, punishment under the Computer Fraud and Abuse Act of 1986. The Nature Conservancy also reserves the right to view, monitor, and document activity on the UGC functionality without notice or permission from you. Any information obtained by monitoring, reviewing, or documenting is subject to review by law enforcement organizations in connection with investigation or prosecution of possible criminal activity on the UGC functionality. The Nature Conservancy will also comply with all court orders involving requests for such information. In addition to the foregoing, The Nature Conservancy reserves the right at any time, and without notice, to modify, suspend, terminate, or interrupt operation of or access to the UGC functionality, or any portion of functionality, for any reason.</p>
<p>&nbsp;</p>
<p><b>LINKS TO THIS SITE AND USE OF MARKS.</b> The Website may contain links to websites operated by other parties. The Nature Conservancy provides these links to other websites as a convenience, and use of these sites is at your own risk. The linked sites are not owned or operated by or under the control of The Nature Conservancy, and The Nature Conservancy is not responsible for the content available on the other sites. Such links do not imply The Nature Conservancy's endorsement of information or material on any other site and The Nature Conservancy disclaims all liability with regard to your access to and use of such linked Websites.</p>
<p>&nbsp;</p>
<p><b>LINKS TO NATURE CONSERVANCY WEBSITES.</b> Unless otherwise set forth in a written agreement between you and The Nature Conservancy, you must adhere to The Nature Conservancy's linking policy as follows: (i) the appearance, position and other aspects of the link may not be such as to damage or dilute the goodwill associated with The Nature Conservancy's names and trademarks, (ii) the appearance, position and other attributes of the link may not create the false appearance that your organization or entity is sponsored by, affiliated with, endorsed by, or otherwise associated with The Nature Conservancy, (iii) when selected by a user, the link must display this Website on full-screen and not within a "frame" on the linking Website, and (iv) The Nature Conservancy reserves the right to revoke its consent to the link at any time and in its sole discretion. Use or misrepresentation of any of The Nature Conservancy's logos, designs, images, photographs, slogans, trademarks or service marks in conjunction with the external links is not permitted.</p>
<p>&nbsp;</p>
<p><b>LINKS TO THIRD PARTY SITES.</b> The Nature Conservancy, in its sole discretion, or other end users through the use of UGC functionality may provide links to other sites on the World Wide Web for your convenience in locating related information, products, and services. These sites have not necessarily been reviewed by The Nature Conservancy and are maintained by third parties over which The Nature Conservancy exercises no control. Use of these sites is at your own risk. Accordingly, The Nature Conservancy expressly disclaims any responsibility for the content, the materials, the accuracy of the information, and/or quality of the products or services provided by, available through, or advertised on these third party web sites and The Nature Conservancy disclaims all liability with regard to your access to and use of such linked websites. Moreover, these links do not imply an endorsement by The Nature Conservancy with respect to any third party, any information or material on any other site, any candidate for political office identified in a third party site or any web site or the products or services provided by any third party.</p>
<p>&nbsp;</p>
<p><b>TRADEMARKS. </b>The Nature Conservancy, The Nature Conservancy &amp; Design, The Nature Conservancy Logos, Diversidata, Last Great Places, The Nature Conservancy International, Parks in Peril, Adopt An Acre, Rescue the Reef &amp; Design, Virginia Coast Reserve, America Verde, Wings of the Americas, TNC, tnc.org, and all other names of The Nature Conservancy programs referenced herein are registered or common law trademarks of The Nature Conservancy in the United States. The Nature Conservancy and other trademarks are registered in several other countries, including without limitation Argentina, Australia, Bolivia, Brazil, Chile, Columbia, Costa Rica, Dominican Republic, Ecuador, France, Guatemala, Honduras, Hong Kong, Indonesia, Jamaica, Japan, Mexico, New Zealand, Nicaragua, Panama, Papua New Guinea, Paraguay, Peru, Philippines, Taiwan, and Venezuela. For more information, please contact The Nature Conservancy Legal Department at 4245 North Fairfax Drive, Arlington Virginia, 22203-1606 USA. Unauthorized use of any Nature Conservancy trademark, service mark or logo may be a violation of federal and state law.</p>
<p>&nbsp;</p>
<p>DISCLAIMERS AND LIMITATION OF LIABILITY. ALL CONTENT ON THE WEBSITE IS PROVIDED TO YOU ON AN "AS IS" "AS AVAILABLE" BASIS WITHOUT WARRANTY OF ANY KIND EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. THE NATURE CONSERVANCY MAKES NO WARRANTY AS TO THE ACCURACY, COMPLETENESS OR RELIABILITY OF ANY CONTENT AVAILABLE THROUGH THE WEBSITE. YOU ARE RESPONSIBLE FOR VERIFYING ANY INFORMATION BEFORE RELYING ON IT. USE OF THE WEBSITE AND THE CONTENT AVAILABLE ON THE WEBSITE IS AT YOUR SOLE RISK.</p>
<p>&nbsp;</p>
<p>THE NATURE CONSERVANCY MAKES NO REPRESENTATIONS OR WARRANTIES THAT USE OF THE WEBSITE WILL BE UNINTERRUPTED OR ERROR-FREE. YOU ARE RESPONSIBLE FOR TAKING ALL NECESSARY PRECAUTIONS TO ENSURE THAT ANY CONTENT YOU MAY OBTAIN FROM THE WEBSITE IS FREE OF VIRUSES OR OTHER HARMFUL CODE.</p>
<p>&nbsp;</p>
<p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE NATURE CONSERVANCY DISCLAIMS ALL LIABILITY, WHETHER BASED IN CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHERWISE, AND FURTHER DISCLAIMS ALL LOSSES, INCLUDING WITHOUT LIMITATION INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR SPECIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH ACCESS TO OR USE OF THE WEBSITE, EVEN IF THE NATURE CONSERVANCY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
<p>&nbsp;</p>
<p>INDEMNITY. You agree to indemnify, defend and hold The Nature Conservancy, its subsidiaries, and affiliates, and their respective officers, agents, partners and employees, harmless from any loss, liability, claim, or demand, including reasonable attorneys' fees, due to or arising out of your use of this Website and/or breach of this Agreement.</p>
<p>&nbsp;</p>
<p>COPYRIGHT. The Website, including all text, graphics, user interfaces, visual interfaces, photographs, sounds, audio, video, artwork, computer code (including HTML, CSS, XML, and JavaScript), interactive features, UGC functionality, programs, software, products, information, and documentation as well as the design, structure, selection, coordination, expression, "look and feel," and arrangement of any content contained on or available through the UGC functionality, unless otherwise indicated is protected by U.S. and international copyright laws. The Nature Conservancy also owns a copyright in the Content of this Website, and Postings licensed to The Nature Conservancy by you as collective work and/or compilation, and in the selection, coordination, arrangement, and enhancement of the Content or Postings on this Website. Any downloadable or printable programs, information, or materials available through this Website and all copyrights, trade secrets, and know-how related thereto, unless otherwise indicated, are owned by The Nature Conservancy. Except for your use as authorized above, you may not modify, reproduce or distribute the Content, design or layout of this Website, or individual sections of the Content, design or layout of this Website, without The Nature Conservancy's express prior written permission.</p>
<p>&nbsp;</p>
<p><b>NOTICE FOR CLAIMS OF COPYRIGHT INFRINGEMENT.</b> If you are a copyright owner or agent thereof and believe that Content posted on this Website by a Nature Conservancy user infringes upon your copyright, please submit notice, pursuant to the Digital Millennium Copyright Act (17 U.S.C. § 512(c)) to our Copyright Agent with the following information: (a) an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright; (b) a description of the copyrighted work that you claim has been infringed; (c) the URL of the location on this Website containing the material that you claim is infringing; (d) your address, telephone number, and email address; (e) a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and (f) a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf. Our Copyright Agent can be reached by mail at: The Nature Conservancy, ATTN: COPYRIGHT AGENT, Marketing, Digital Engagement, The Nature Conservancy, 4245 N. Fairfax Drive, Arlington, VA 22203-1606, USA, by phone at 1-703-841-2038, by fax at 1-703-247-3674, or by email at <a href="mailto:copyright@tnc.org">copyright@tnc.org</a>. Please note that attachments cannot be accepted at the email address for security reasons. Accordingly, any notification of infringement submitted electronically with an attachment will not be received or processed.</p>
<p>&nbsp;</p>
<p><b>LOCATION.</b> The Website is operated by The Nature Conservancy from its offices in the United States. The Nature Conservancy makes no representation that the Content of this Website is available or appropriate for use in other locations. Those who choose to access this Website from locations outside the United States do so on their own initiative and are responsible for compliance with applicable local laws.</p>
<p>&nbsp;</p>
<p><b>CHILDREN. </b>The Website is not directed toward children under 13 years of age nor does The Nature Conservancy knowingly collect information from children under 13. If you are under 13, please do not submit any personally identifiable information to The Nature Conservancy.</p>
<p>&nbsp;</p>
<p><b>PRIVACY POLICY.</b> By agreeing to these terms, you acknowledge that The Nature Conservancy may collect, use and disclose your information as described in our Privacy Policy.</p>
<p>&nbsp;</p>
<p><b>USER CONTENT.</b> By submitting a Posting or providing any content on or through this Website, you hereby grant to The Nature Conservancy a worldwide, irrevocable, royalty-free, nonexclusive, limited license to reproduce, use, adapt, modify, publish, translate, publicly perform, publicly display, distribute and create derivative works from such content in any form, and The Nature Conservancy may sublicense all or part of its rights under this license or assign them to third parties. You represent and warrant that: (i) you own the content posted by you on or through this Website or otherwise have the right to grant the license set forth in this section, and (ii) the posting of your content on or through this Website does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person. The Nature Conservancy may delete any content for any reason, including content that, in The Nature Conservancy's sole judgment, is offensive, illegal or violate the rights, harm, or threaten the safety of any person. The Nature Conservancy has the right, but does not assume the responsibility, for monitoring this Website for inappropriate content. You are solely responsible for the content of any Postings that you post on or through this Website.</p>
<p>&nbsp;</p>
<p><b>SUBMISSIONS.</b> It has been the long-standing policy of The Nature Conservancy not to accept or consider creative ideas, suggestions, or materials, including, but not limited to, notes, drawings, concepts, comments, questions or answers, techniques, know-how, or other information (hereinafter "Submissions") other than those specifically requested, such as UGC. The intent of this policy is to avoid the possibility of future misunderstandings when projects developed by The Nature Conservancy's professional staff might seem to others to be similar to their own creative work. All Submissions, including unsolicited submissions and those made at the request of The Nature Conservancy, such as UGC, will be treated as non-confidential and non-proprietary, and will be subject to the license granted in the preceding paragraph. The Nature Conservancy will not be liable for any use or disclosure of any Submissions.</p>
<p>&nbsp;</p>
<p><b>PASSWORD. </b>You may be assigned a username and password with which to access restricted areas of this Website. You agree not to use the username or password of another user at any time or to disclose your password to any third party. You agree to notify The Nature Conservancy immediately if you suspect any unauthorized use of your username or access to your password. You are solely responsible for any and all uses of your username and password.</p>
<p>&nbsp;</p>
<p><b>EMAIL.</b> Email submissions over the internet may not be secure. Please do not email The Nature Conservancy any personal or confidential information. Please refer to our Privacy Policy for information how The Nature Conservancy uses your information.</p>
<p>&nbsp;</p>
<p><b>CHOICE OF LAW/FORUM.</b> All claims arising out of this Agreement or relating to this Website will be governed by the laws of the Commonwealth of Virginia, USA, excluding the application of its conflicts of law rules. Any legal action or proceeding arising out of this Agreement or relating to this Website shall be brought exclusively in a state or federal court in or for Arlington County, Virginia, USA.</p>
<p>&nbsp;</p>
<p><b>MISCELLANEOUS.</b> If any provision of this Agreement is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced. Headings are for reference purposes only and in no way define, limit, construe or describe the scope or extent of such section. The Nature Conservancy's failure to act with respect to any failure by you or others to comply with these Terms of Use does not waive The Nature Conservancy's right to act with respect to subsequent or similar failures. These Terms of Use set forth the entire understanding and agreement between you and The Nature Conservancy with respect to the subject matter hereof. Any cause of action or claim you may have with respect to this Agreement or this Website must be commenced within six (6) months after the claim or cause of action arises or such claim or cause of action shall be barred.</p>
<p>&nbsp;</p>
<p><b>VIOLATIONS AND ADDITIONAL POLICIES.</b> The Nature Conservancy reserves the right to seek all remedies available at law and in equity for violations of this Agreement, including without limitation the right to block access from a particular Internet address.</p>
<p>&nbsp;</p>
<p><i>Copyright © 2016 The Nature Conservancy. All rights reserved.</i></p>
</div>